html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--background-color: #ffffff;
	--secondary-background-color: #f5f4fa;
}

body {
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
	font-size: 16px;
	line-height: 1.19;

	background-color: var(--background-color);
}

.list {
	list-style: none;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}

/* container */

.container {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;

	padding-left: 15px;
	padding-right: 15px;
}

/* site nav */

.container-site-nav {
	display: flex;
	align-items: center;
}

.site-nav {
	color: var(--primary-text-color);
	display: flex;
	align-items: center;
}

.site-nav .link.current {
	color: var(--accent-color);
}

.logo {
	display: block;
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;

	color: var(--title-text-color);
}

.accent-logo {
	color: var(--accent-color);
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}

.item-nav {
	display: flex;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 80px;

	list-style: none;
	text-decoration: none;
}

.item-nav-li {
	margin-right: 50px;
	position: relative;
}

.item-nav-li:nth-child(3n) {
	margin-right: 0px;
}

.item-nav .link:hover,
.item-nav .link:focus {
	color: var(--accent-color);
}

.item-nav .link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	text-decoration: none;
	color: var(--title-text-color);

	padding-top: 32px;
	padding-bottom: 32px;
	display: inline-block;
}

.link.current::after {
	content: "";
	position: absolute;
	transform: translateX(-100%);
	height: 4px;
	width: 100%;

	bottom: 0;
	background: #2196f3;
	border-radius: 2px;
}

.site-nav .contacts {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	text-decoration: none;
}

.contacts {
	margin-left: 10px;
}

.contacts-display {
	display: flex;
	margin-left: auto;
}

.contacts-display-li {
	margin-right: 30px;
	display: inline-flex;
}

.contacts,
.svg-item-telephone,
.svg-item-envelop {
	transition-duration: 500ms;
}

.contacts-display-li:nth-child(2) {
	margin-right: 0px;
}

.contacts-display-li:hover .contacts {
	color: #2196f3;
}
.contacts-display-li:hover .svg-item-envelop,
.contacts-display-li:hover .svg-item-telephone {
	fill: #2196f3;
}

.svg-item {
	width: 15px;
	height: 10px;
}

.svg-item-envelop {
	width: 15px;
	height: 15px;
	fill: var(--primary-text-color);
}

.svg-item-telephone {
	width: 15px;
	height: 15px;
	fill: var(--primary-text-color);
}

.svg-item-benefits {
	width: 70px;
	height: 70px;
}

.contacts-display-li .contacts:hover,
.contacts-display-li .contacts:focus {
	color: var(--accent-color);
}

.contacts-display-li .contacts {
	color: var(--primary-text-color);
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}

/* section */

/* for the all section */

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.section-title {
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;

	text-align: center;
	margin-top: 0px;
	margin-bottom: 50px;
}

/* Section hero */

.section.hero {
	text-align: center;
	min-height: 600px;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--secondary-background-color);

	background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
		url(../images/header-background.jpg);

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 200px;
	padding-bottom: 200px;
}

.container.hero {
	text-align: center;
	width: 700px;
}
.hero-title {
	margin-top: 0px;
	margin-bottom: 30px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	color: #ffffff;
	text-transform: uppercase;

	width: 696px;
}

/* Section benefits  */

.benefits {
	color: var(--title-text-color);
	display: flex;
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}

.benefits-list {
	width: calc((100% - 90px) / 4);
	margin-right: 30px;
}

.benefits-list:nth-child(4n) {
	margin-right: 0px;
}

.benefits-list-image {
	width: 270px;
	height: 120px;
	background: #f5f4fa;
	border-radius: 4px;
	margin-bottom: 30px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.benefits-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;

	margin-bottom: 10px;
	margin-top: 0px;
}

.benefits .text {
	font-size: 14px;
	line-height: 1.71px;
	margin: 0px;
}

/* Section our work / Чем мы занимаемся */

.section-our-work {
	border-top: 1px solid #ececec;
}

.about-our-work-ul {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0px;
	margin: 0px;
	list-style: none;
}

.about-our-work-li {
	width: calc((100% - 60px) / 3);
	height: 294px;
	margin-right: 30px;
	position: relative;
}

.about-our-work-li:nth-child(3n) {
	margin-right: 0px;
}

.about-our-work-li:nth-last-child(-n + 3) {
	margin-bottom: 0px;
}

.works-title {
	text-align: center;
	background: rgba(47, 48, 58, 0.8);
	border-radius: 0px 0px 4px 4px;

	margin: 0px;
	padding-top: 27px;
	padding-bottom: 27px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;

	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

.about-our-work-li > img {
	display: block;
}

/* Section our team / наша команда */

.our-team {
	background-color: var(--secondary-background-color);
}

.our-team-flex {
	display: flex;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.our-team-flex-li {
	width: calc((100% - 3*30px) / 4);
	margin-right: 30px;
	border-radius: 4px 4px 0px 0px;
}

.our-team-flex-li:nth-child(4n) {
	margin-right: 0px;
}
.our-team-flex-li:nth-last-child(-n + 4) {
	margin-bottom: 0px;
}

.photo-workers {
	display: block;
	overflow: hidden;
}

.our-team-content {
	padding-top: 30px;
	padding-bottom: 25px;
	padding-right: 32px;
	padding-left: 32px;
	text-align: center;

	background: #ffffff;

	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.names {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
}

.section .text {
	color: var(--primary-text-color);

	font-size: 16px;
	line-height: 1.18;
	margin-bottom: 0px;
	margin-top: 0px;
}

.our-team-content .text {
	margin-bottom: 16px;
}

/* social links */

.call-to-action-list-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding-left: 0px;
}

.social-links {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
}
.social-links {
	fill: #afb1b8;
	transition-duration: 500ms;
}

.social-links:hover {
	background-color: var(--accent-color);
}

.social-links:hover .svg-item-social {
	fill: var(--background-color);
}

.social-link-li {
	margin-right: 10px;
	width: 44px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-link-li:nth-child(4n) {
	margin-right: 0px;
}

.svg-item-social {
	width: 20px;
	height: 20px;
}

/* our usual clients / Наши постоянные клиенты */

.our-usual-client-list {
	display: flex;
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.our-usual-client-list li:not(:last-child) {
	margin-right: 30px;
}

.our-usual-client-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 90px;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	transition-duration: 500ms;
}

.svg-item-clients {
	fill: #afb1b8;
	transition-duration: 500ms;
}

.our-usual-client-li:focus .svg-item-clients,
.our-usual-client-li:hover .svg-item-clients {
	fill: var(--accent-color);
}

.our-usual-client-li:focus .our-usual-client-link,
.our-usual-client-li:hover .our-usual-client-link {
	border: 1px solid var(--accent-color);
}

/* footer */

.footer {
	background-color: #2f303a;
}

.footer-flex {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding-top: 48px;
	padding-bottom: 48px;
}


.call-to-action-footer {
	display: flex;
	flex-direction: column;
}

.subscript-footer {
	display: flex;
	flex-direction: column;
}

.footer-go-it {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.main-logo {
	color: #ffffff;
}

.footer-logo {
	display: block;
	font-family: Raleway;

	font-weight: 700;
	font-size: 22px;
	line-height: 1.18;

	margin-bottom: 10px;
}

.footer-address {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	margin-bottom: 10px;
	color: #ffffff;
}

.footer-contacts {
	display: block;
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
}

.footer-email {
	margin-bottom: 10px;
}

.call-to-action {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 21px;
}

.call-to-action-footer .call-to-action-list-flex {
	margin-top: 0px;
	margin-bottom: 0px;
}

.call-to-action-footer .subscript-footer .button {
	margin-bottom: 0px;
}

.footer-go-it-text {
	text-align: center;
	margin: 0px;
	padding-bottom: 20px;
	padding-top: 18px;

	color: rgba(255, 255, 255, 0.4);
}

/* button */
.button {
	background-color: var(--accent-color);
	color: white;
	text-decoration: none;
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;

	display: inline-block;
	padding: 11px 32px;
	min-width: 200px;
	min-height: 50px;
	text-align: center;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.primary {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.button-portfolio:hover,
.button-portfolio:focus {
	color: #212121;
}

.button-portfolio {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.button-portfolio .lil {
	margin-right: 8px;
}

.button-portfolio .lil:nth-child(5n) {
	margin-right: 0px;
}

.button-portfolio-li {
	background: #f5f4fa;
	border-radius: 4px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 22px;
	padding-left: 22px;
	cursor: pointer;
}

.button-portfolio-li:hover,
.button-portfolio-li:focus {
	color: var(--accent-color);
}

.button-text {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}
.button-portfolio-li:hover .button-text,
.button-portfolio-li:focus .button-text {
	color: var(--accent-color);
}

/* css for portfolio */

.portfolio-header {
	border-bottom: 1px solid #ececec;
}

.title-portfolio {
	margin-top: 0px;
	margin-bottom: 0px;

	font-family: Roboto;
	font-weight: bold;
	font-size: 18px;
	line-height: 2.25;
	letter-spacing: 0.03em;
	color: #212121;
}

.text-portfolio {
	margin-top: 0px;
	margin-bottom: 0px;

	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	color: #757575;
}

.lay-out-portfolio {
	margin: 0px;
}

.example .link:hover,
.example .link:focus {
	color: var(--accent-color);
}

.portfolio-ul {
	display: flex;
	flex-wrap: wrap;

	padding-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.example {
	width: calc((100% - 60px) / 3);
	margin-right: 30px;
	margin-bottom: 30px;
	list-style: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.example .link {
	display: block;
	text-decoration: none;
}

.container-of-text-example {
	position: relative;
	overflow: hidden;
}

.text-on-photo {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.56;

	letter-spacing: 0.03em;

	color: #ffffff;
	padding-top: 63px;
	padding-bottom: 63px;
	padding-left: 24px;
	padding-right: 24px;
	margin: 0;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-color: rgba(33, 150, 243, 0.9);
	opacity: 0;
	display: linear;
	transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
	transform: translateY(150%);
}

.example:hover .text-on-photo {
	opacity: 1;
	transform: translateY(0);
	transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example:hover .card-content {
	box-shadow: 
	1px 4px 6px rgba(0, 0, 0, 0.16),
	0px 4px 4px rgba(0, 0, 0, 0.06),
	0px 1px 1px rgba(0, 0, 0, 0.12);
}

.example:nth-child(3n) {
	margin-right: 0px;
}
.example:nth-last-child(-n + 3) {
	margin-bottom: 0px;
}

.card-content {
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 20px;
	padding-bottom: 20px;

	background: var(--background-color);
	box-sizing: border-box;

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: 1px solid#eeeeee;
	border-right: 1px solid#eeeeee;
	border-bottom: 1px solid#eeeeee;
}

.portfolio-img {
	border-radius: 5px 5px 0px 0px;
	display: block;
}
